<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitchhicker.hhapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViewBlogActivity"></activity>
        <activity
            android:name=".NavigationBarActivity"
            android:label="@string/title_activity_navigation_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BlogActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".CodeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>